*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

