
.header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    font-size: 18px;
    font-style: normal;
}

.menu_header {
    display: flex;
    
}

.header__links-list {
    display: flex;
    list-style: circle;
    list-style-position: inside;
    gap: 3px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    margin-left: -4px;
}

.header__links-list-item {
    margin-left: 10px;
    text-underline-offset: 4px;
}

.logo {
    width: 131.97px;
    height: 100.5304px;
    padding-bottom: 2px;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
    white-space: wrap;
    align-items: flex-start;
    word-wrap: break-word;
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    text-underline-offset: 4px;
}

.cover {
    display: block;
    min-height: 757px;
    max-width: 1100px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: 125%;
    z-index: 0;
    position: relative;
}

.overlay {
    display: flex;
    position: absolute;
    height: 100%;
    max-width: 100%;
    background-color: black;
    opacity: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.cover_title {
    position: relative;
    text-transform: uppercase;
    color: white;
    z-index: 2;
    font-weight: bold;
    font-size: 100px;
    line-height: 115%;
    max-width: 100%;
    letter-spacing: 30px;
}

.aligned-text_left {
    display: block;
    padding-top: 170px;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 20px;
}

.aligned-text_center {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 20px;
}

.aligned-text_right {
    display: block;
    padding-right: 20px;
    text-align: right;
}

.description {
    display: flex;
    position: relative;
    z-index: 3;
    padding-top: 106px;
}

.cover__description-text {
    align-self: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    padding-left: 50px;
    word-spacing: 18.7px;
}

.bet-button {
    vertical-align: baseline;
    margin-left: 102px;
    align-self: center;
    width: 256px;
    height: 51px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 22px;
}

.lots {
    display: flex;
    margin-top: 185px;
    margin-left: 24px;
    margin-right: 24px;
    max-height: 723px;
    max-width: 1100px;
    flex-direction: column;
}

.lots__heading {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    max-width: 100%;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 596px;
    width: 334px;
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card__title {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    z-index: 3;
    text-align: left;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.card__text {
    position: relative;
    padding-bottom: 48px;
    margin-top: auto;
    align-items: flex-end;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 3;
    font-size: 20px;
    color: white;
    line-height: 120%;
}

.lots__look-more-link {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 120px;
    max-width: 100%;
    padding-top: 35px;
}

.about__logo {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 71px;
}

.about__logo-image {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.about__column {
    padding-left: 16px;
    padding-right: 5px;
}

.about__title {
    padding-top: 102px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    font-size: 20px;
    gap: 24px;
    margin-top: 100px;
    line-height: 1.2;
}

.footer {
    padding-top: 180px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer_address {
    max-width: 300px;
    justify-self: start;
    padding-left: 51px;
    padding-bottom: 82px;
    white-space: wrap;
    line-height: 1.35;
    text-underline-offset: 4px;;
}

.footer__menu {
    justify-self: center;
    padding-bottom: 82px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    justify-self: center;
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    padding-top: 3px;
    padding-left: 25px;
    gap: 48px;
    justify-self: center;
}

.footer__social-list-item {
    max-width: 48px;
    height: 48px;
    list-style: none;
}